<label for="firstName">First Name</label>
<select label="firstName" name="firstName" id="firstName">
<option value="">----------</option>
{% for fieldname in data %}
<option value="{{ fieldname }}" selected>{{ fieldname }}</option>
{% endfor %}
</select>

<label for="lastName">Last Name</label>
<select label="lastName" name="lastName" id="lastName">
<option value="">----------</option>
{% for fieldname in data %}
<option value="{{ fieldname }}" selected>{{ fieldname }}</option>
{% endfor %}
</select>
<input type=submit value=Upload>